.file {
    padding: 8;
    border-bottom: 1px solid #dddddd;
}

.section {
    margin-bottom: 5px;
}

.ui-selected { 
    background: #007fff; 
    color: white; 
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
}

.checkmark {
    display:inline-block;
    width: 22px;
    height:22px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

table, th, td {
    border: 1px solid;
    padding: 10px;
}

#mturk-top-banner-drop-down-content {
    position: absolute;
    width: 99%;
    bottom: 0px;
    top:unset;
    left: 0;
    background-color: #eee;
    z-index: 100;
    padding: 10px 10px 10px 10px;
    border-left: 1px orange solid;
    border-right: 1px orange solid;
    border-top: 1px orange solid;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
  
  
}
.ui-dialog-titlebar  {
    background: rgb(249, 169, 108) !important;
}
.ui-draggable{
    background: rgb(255, 214, 183) !important;
}
.ui-dialog-buttonpane{
    background: rgb(255, 214, 183) !important;
}

#file_name {
    font-weight: bold;
    font-size: 1.2rem;
}

#instructions {
    font-size: 1.2rem;
    font-weight: bold;

    background-color: rgba(255, 181, 181, 0.427);
    padding: 10px;
}

