.file {
    padding: 8;
    border-bottom: 1px solid #dddddd;
}

.section {
    margin-bottom: 5px;
}

.ui-selected { 
    background: #007fff; 
    color: white; 
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
}

.checkmark {
    display:inline-block;
    width: 22px;
    height:22px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

table, th, td {
    border: 1px solid;
    padding: 10px;
}

#mturk-top-banner-drop-down-content {
    position: fixed;
    width: 99%;
    bottom: 0px;
    top:unset;
    left: 0;
    background-color: #eee;
    z-index: 100;
    padding: 10px 10px 10px 10px;
    border-left: 1px orange solid;
    border-right: 1px orange solid;
    border-top: 1px orange solid;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

.ui-dialog-titlebar  {
    background: rgb(249, 169, 108) !important;
}
.ui-draggable{
    background: rgb(255, 214, 183) !important;
}
.ui-dialog-buttonpane{
    background: rgb(255, 214, 183) !important;
}

#file_name {
    font-weight: bold;
    font-size: 1.2rem;
}

#instructions {
    font-size: 1.2rem;

    font-family:Arial, Helvetica, sans-serif;

    /* background-color: rgba(255, 181, 181, 0.427); */
    padding: 10px;
}

#task {
    font-size: 1.2rem;

    font-family:Arial, Helvetica, sans-serif;

    /* background-color: rgba(255, 181, 181, 0.427); */
    background-color: rgb(0, 127, 255, 0.427);
    padding: 10px;
}

#notes {
    font-size: 1.2rem;

    font-family:Arial, Helvetica, sans-serif;

    /* background-color: rgba(255, 181, 181, 0.427); */
    padding: 10px;
}

#instructions1 {
    font-size: 1.2rem;
    font-family:Arial, Helvetica, sans-serif;

    background-color: rgba(129, 229, 243, 0.427);
    padding: 10px;
}

#instructions2 {
    font-size: 1.2rem;
    font-family:Arial, Helvetica, sans-serif;

    background-color: rgba(223, 174, 255, 0.427);
    padding: 10px;
    text-align: center;
}


#sideBySide {
    width: 100%;
    overflow: hidden; /* add this to contain floated children */
}

#fileAccordionDiv {
    width: 45%;
    float:left; /* add this */
    margin-right: 20px;
    margin-top: 10px;

}

#sidepanel {
    width: 50%;
    float: left; /* add this */
    margin: 10px;

}

#inner-body {
    padding-bottom: 400px;
}

#extraNote{
   color: rgb(148, 1, 1);
}

.modal-btn{
    border: none;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: rgb(0, 127, 255, 0.5);
    border-radius: 0.5rem;
}
.modal-btn:hover,
.modal-btn:focus {
    color: white;
    background-color: rgb(0, 127, 255);
    text-decoration: none;
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    border-radius: 0.5rem;
    font-size: 1.2rem;

    font-family:Arial, Helvetica, sans-serif;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
